body {
    overflow: auto;
}

.mobile-home {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Allows horizontal scrolling */
    overflow-y: auto; /* Allows vertical scrolling */
    height: 100vh; /* Ensures full viewport height */
}

.mobile-input-container {
  position: fixed; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 90px;
  margin-top: 0;
  margin-left: 20px;
  left: 0;
  height: 100vh;
  position: absolute; 
  overflow-y: auto; /* Enables scrolling if needed */
}

.mobile-item-with-length {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.mobile-cities-with-door2door {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.mobile-item-type {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.mobile-device-length-input {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 14px;
}

.mobile-home-delivery {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 0;
}

.mobile-weight-input {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.mobile-size-input {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.mobile-output-container {
  position: fixed; 
  display: flex;
  flex-direction: column;
  margin: 80px;
  margin-top: 30px;
  margin-right: 18%;
  right: 20px;
  height: 100vh;
  position: absolute; 
  overflow-y: auto; /* Enables scrolling if needed */
}

.mobile-location-dropdowns {
  display: flex;
  flex-direction: column;
  gap: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mobile-select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.mobile-select:hover, .mobile-input:hover {
  transform: scale(1.05);
  border-color: #7c73a4; /* Slight color change on hover */
}

div {
  display: flex;
  gap: 3px;
}

.mobile-size-input-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.length-and-width {
  display: flex;
  flex-direction: row;
}

.mobile-from-dropdown,
.mobile-to-dropdown,
.mobile-item-type-dropdown {
  width: 200px;
  height: 40px;
  font-size: 14px;
}

.mobile-weight-input-box, .mobile-length-input-box, .mobile-width-input-box, .mobile-height-input-box {
  width: 165px;
  font-size: 20px;
}

.mobile-device-length-input-box,
.mobile-home-delivery-dropdown {
  width: 185px;
}

.mobile-device-length-input-box {
  width: 140px;
}

button.mobile-calculate-button {
  padding: 10px 20px;
  font-size: 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 150px;
  height: 50px;
}

button.mobile-calculate-button:hover {
  transform: scale(1.1);
}

.mobile-estimate-cost {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.mobile-transportation-cost, .mobile-door2door-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.mobile-transportation-cost-text, .mobile-door2door-cost-text {
  margin-top: 0;
  font-size: 13px;
}

.mobile-input-container {
  transition: transform 1s ease-in-out;
}

.slide-out {
  transform: translateX(-130%);
}

.mobile-output-container {
  transition: transform 1s ease-in-out;
  transform: translateX(100%);
}

.slide-in {
  transform: translateX(0);
}

.hidden {
  display: none;
}

@media (max-width: 660px) {
    .mobile-output-container {
        margin-right: 14%;
    }
}

@media (max-width: 600px) {
    .mobile-output-container {
        margin-right: 13%;
    }
}

@media (max-width: 570px) {
    .mobile-output-container {
        margin-right: 10%;
    }
}

@media (max-width: 550px) {
    .mobile-output-container {
        margin-right: 8%;
    }
}

@media (max-width: 530px) {
    .mobile-output-container {
        margin-right: 6%;
    }
}

@media (max-width: 500px) {
    .mobile-output-container {
        margin-right: 4%;
    }
    .mobile-transportation-cost, .mobile-door2door-cost {
      transform: scale(0.85);
    }
}

@media (max-width: 470px) {
    .mobile-output-container {
        margin-right: 2%;
    }
}

@media (max-width: 450px) {
    .mobile-input-container {
      transform: scale(0.8);
      margin-left: 0;
      margin-top: -80px;
    }
    .slide-out {
      transform: translateX(-130%);
    }
    .mobile-output-container {
        margin-right: 0%;
    }
}

@media (max-width: 430px) {
    .mobile-output-container {
        margin-right: -4%;
    }
}

@media (max-width: 410px) {
    .mobile-input-container {
      margin-top: -60px;
    }
    .mobile-output-container {
        margin-right: -10%;
    }
    .mobile-transportation-cost, .mobile-door2door-cost {
      transform: scale(0.7);
    }
}

@media (max-width: 390px) {
    .mobile-output-container {
        margin-right: -15%;
    }
}

@media (max-width: 370px) {
    .mobile-input-container {
      transform: scale(0.65);
      margin-left: -50px;
      margin-top: -110px;
    }
    .slide-out {
      transform: translateX(-130%);
    }
    .mobile-output-container {
        margin-right: -14%;
    }
}

@media (max-width: 350px) {
    .mobile-input-container {
      margin-top: -125px;
    }
}

@media (max-width: 330px) {
  .mobile-output-container {
    margin-right: -22%;
  }
}

@media (max-width: 305px) {
  .mobile-output-container {
    margin-right: -25%;
  }
}

/*
.mobile-hello-facebook-link-button {
  position: relative;
  margin-top: 85%;
  left: 55%;
  right: auto;
  width: 250px;
  height: 33px;
  border-radius: 30px;
  background-color: white;
  border: 1px #3a5ba2 solid;
  overflow: hidden;
}

.mobile-text1 {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10%;
}

.mobile-text2 {
  position: absolute;
  top: 25%;
  left: -140px;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.mobile-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s;
}

.mobile-icon::before {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: -1;
  content: '';
  width: 130px;
  height: 33px;
  border-radius: 30px;
  background-color: #3a5ba2;
}

.mobile-hello-facebook-link-button:hover .mobile-icon {
  transform: translateX(210px);
  transition: transform 0.7s;
}

.mobile-hello-facebook-link-button:hover .mobile-text1 {
  visibility: hidden;
}

.mobile-hello-facebook-link-button:hover {
  background-color: #3a5ba2;
}

.mobile-hello-facebook-link-button:hover .mobile-text2 {
  transform: translateX(190px);
  transition: transform 0.8s;
}

.mobile-hello-facebook-link-button:active {
  transform: scale(1.03);
}*/