.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%; /* Ensures full width */
  height: 100vh; /* Keeps full viewport height */
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.home {
  display: flex;
  flex-direction: row;
}

.input-container {
  position: fixed; 
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 0;
  margin: 90px;
  margin-top: 0px;
  left: 40px;
  height: 100vh;
}

.item-with-length {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.cities-with-door2door {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item-type {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.device-length-input {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 14px;
}

.home-delivery, .pickup-location {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 0;
}

.weight-input {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.size-input {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.output-container {
  position: fixed; 
  display: flex;
  flex-direction: column;
  margin: 80px;
  margin-top: 30px;
  margin-right: 50px;
  right: 20px;
  height: 100vh;
}

.location-dropdowns {
  display: flex;
  flex-direction: column;
  gap: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

select:hover, input:hover {
  transform: scale(1.05);
  border-color: #7c73a4; /* Slight color change on hover */
}

div {
  display: flex;
  gap: 3px;
}

.size-input-box {
  gap: 14px;
}

.from-dropdown,
.to-dropdown,
.item-type-dropdown {
  width: 200px;
  height: 40px;
  font-size: 14px;
}

.weight-input-box, .length-input-box, .width-input-box, .height-input-box {
  width: 165px;
  font-size: 20px;
}

.device-length-input-box,
.home-delivery-dropdown, .pickup-dropdown {
  width: 185px;
}

.device-length-input-box {
  width: 140px;
}

.home-delivery-options {
  display: flex;
}

.checkbox-dropdown-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.checkbox-dropdown {
  display: flex;
  align-items: center;
  gap: 6px;
}

button.calculate-button {
  padding: 10px 20px;
  font-size: 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 150px;
  height: 50px;
}

button.calculate-button:hover {
  transform: scale(1.1);
}

.estimate-cost {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.transportation-cost, .door2door-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transportation-cost {
  height: 210px;
}

.door2door-cost {
  height: 300px;
}

.transportation-cost-text, .door2door-cost-text {
  margin-top: 0;
  font-size: 18px;
}

@media (max-width: 1300px) {
  .input-container {
    transform: scale(0.8);
    left: 20px;
  }
  .output-container {
    transform: scale(0.8);
    margin-top: 0;
    margin-right: 30px;
  }
}

@media (max-width: 1200px) {
  .input-container {
    left: 0;
  }
  .output-container {
    margin-right: 0;
  }
}

@media (max-width: 1100px) {
  .input-container {
    margin-left: 45px;
    margin-top: -30px;
  }
}

@media (max-width: 1050px) {
  .input-container {
    transform: scale(0.7);
  }
  .output-container {
    transform: scale(0.7);
  }
}

@media (max-height: 660px) {
  .input-container {
    margin-top: -60px
  }
  .output-container {
    margin-top: -50px;
  }
}
/*.hello-facebook-link-button {
  position: relative;
  margin-top: 85%;
  left: 55%;
  right: auto;
  width: 250px;
  height: 33px;
  border-radius: 30px;
  background-color: white;
  border: 1px #3a5ba2 solid;
  overflow: hidden;
}

.text1 {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10%;
}

.text2 {
  position: absolute;
  top: 25%;
  left: -140px;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s;
}

.icon::before {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: -1;
  content: '';
  width: 130px;
  height: 33px;
  border-radius: 30px;
  background-color: #3a5ba2;
}

.hello-facebook-link-button:hover .icon {
  transform: translateX(210px);
  transition: transform 0.7s;
}

.hello-facebook-link-button:hover .text1 {
  visibility: hidden;
}

.hello-facebook-link-button:hover {
  background-color: #3a5ba2;
}

.hello-facebook-link-button:hover .text2 {
  transform: translateX(190px);
  transition: transform 0.8s;
}

.hello-facebook-link-button:active {
  transform: scale(1.03);
}*/